/* Mobile First BRANCH DESCRIPTION

1. Review html structure
2. Write CSS almost from scratch in the following ofrder: typography, colors, padding. Make layout only when there's nothing else to do.
3. If you need to, change classes

*/


/* ---------- DEFAULT GENERIC STYLES ---------- */

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  font-size: 1.6rem;
  font-family: 'Red Hat Text', sans-serif;
  color: #ffffff;
  /* Temporary */
  background-color: #baa353;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  /* max-width: 100%; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8em 1.5em 0 1em;
}

/* ---------- ELEMENTS ---------- */


/* Burger button */

.burger-btn {
  width: 2.6rem;
  transform: translateY(-0.3rem);
}

.burger-btn:before,
.burger-btn:after,
.burger-btn div {
  background: #fff;
  content: "";
  display: block;
  height: 0.25rem;
  border-radius: 0.25rem;
  margin: 0.4rem 0;
}

/* Mobile menu  */

.nav-mobile {
  position: absolute;
  right: 0;
  top: 0;
  width: 42%;
  max-width: 165px;
  padding: 0.7em 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border-radius: 0.6em;
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
}


/*  */


.nav-mobile__close-btn {
  position: relative;
  width: 21px;
  height: 21px;
  opacity: 0.4;
}
.nav-mobile__close-btn:hover {
  opacity: 1;
}
.nav-mobile__close-btn:before, .nav-mobile__close-btn:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #000000;
}
.nav-mobile__close-btn:before {
  transform: rotate(45deg);
}
.nav-mobile__close-btn:after {
  transform: rotate(-45deg);
}


/*  */


.nav-mobile__list {
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.95;
}

.nav-mobile__link {
  color: #fff;
  text-decoration: none;
}


.hide {
  display: none;
}
